.caixa{
  background-color: #FAAC58;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.submit{
  color: white;
  background-color: #0B0B61;
}
.submit:hover{
  background-color: blue;
  color: white;
}
#erro{
  border: solid red 1px;
  background-color: #F78181;
  text-align: center;
}
.ali-center{
  align-items: center;
  text-align: center;
}
